mainmenu "EPS Message Loopback Test"

source "Kconfig.zephyr"

menu "EPS message loopback options"

config CAN_LINK_TX_PERIOD_MS
    int "TX period in milliseconds"
    default 1000
    range 10 60000

endmenu
